<div>
    <div class="flex gap-3" >
        <div class="w-52 h-52 ">
            <img class="rounded-full border w-full h-full"  src="" alt="Ico image">
        </div>
        
        <div class="flex flex-col gap-4">
            <p>Imię: <span class="text-2xl font-bold"> <%= current_user.first_name %></span></p>
            <p>Nazwisko: <span class="text-2xl font-bold"> <%= current_user.last_name %></span></p>
            <p>email:<span class="text-2xl font-bold"> <%= current_user.email%></span></p>
        </div>
    </div>

   <% if @coursesTaken.present? %>
  <div class="mt-6">
    <h1>Bierzesz Udział:</h1>
    <% @coursesTaken.each do |course| %>
      <%= render "courses/course_card", course: course %>
    <% end %>
  </div>
<% end %>

<% if @coursesCreated.present? %>
  <div class="mt-6">
    <h1>Twoje Kursy:</h1>
    <% @coursesCreated.each do |course| %>
      <%= render "courses/course_card", course: course %>
    <% end %>
  </div>
<% end %>


</div>

